!<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/asset/fontawesome/CSS/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style/style.css">
    <title>Vetements</title>
</head>
<body>

     
    <nav>
        <a class="navActivf" href="/" >Vetements </a>
        <a href="/chaussure" >Chaussure </a>
        <a href="/accssessoire" >Sac & Accessoire </a>
        <a  href="/param" >Paramètre </a>
        <a class="deconnection" href="/deconnecter">Déconnecter</a>

    </nav>
   <input type="text" id="recherche" placeholder="recherche" >
    <div class="formBox">
        <sapn class="closeBtn"><i class="fa-solid fa-x"></i></sapn>
        <h2>Ajouter un article pour les vetements</h2>
        <div class="formBoxContent">
            <img class="image" src="" alt="">

            <form action="/upload/article_vetement/vetement" method="post" enctype="multipart/form-data">
                <input hidden type="number" id="input_id" name="id" > <br>
                <input name="foo" required type="file" class="imageSelect"  /> <br>
        
                <input type="text" required name="nom" id="nom" placeholder="Nom de l'article"> <br>

                <select name="categorie" id="categorie">
                    <option value="deffaut">Selectionner la categorie--</option>
                    <option value="robe">Robe</option>
                    <option value="combinaison">Combinaison</option>
                    <option value="enssemble">Enssemble</option>
                    <option value="traditionel">traditionel</option>
                </select> <br>

                <input type="color" name="couleur", id="couleur"> 
                <input type="text" name="colorName" id="colorName" placeholder="Nom du couleur">
              

                  <select  name="taille" id="taille">
                    <option value="deffaut">Selectionner la taille--</option>
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                    <option value="XXL">XXL</option>
                    <option value="36">36</option>
                    <option value="37">37</option>
                    <option value="38">38</option>
                    <option value="39">39</option>
                    <option value="40">40</option>
                    <option value="41">41</option>
                  </select><br>
                  
                
                  <select name="saison" id="saison">
                    <option value="deffaut">Selectionner la saison--</option>
                    <option value="ete">Ete</option>
                    <option value="hivert">Hivert</option>
                    <option value="les deux">les deux</option>

                  </select><br>

                <input type="date" name="date" id="date" placeholder="date"> <br>
                <textarea name="description" required id="description" cols="30" rows="10" placeholder="description"></textarea> <br>
                <input type="number" name="prix" id="prix" placeholder="Prix de l'article"> <br>

                <input type="submit" id="submit" value="importer">
            </form>

        </div>
    </div>

    <h1>Galery des vetements</h1>
    <span class="firstArticle_id" hidden id="<%=resultats[0].id%> "> </span>

    <div class="galery">
        <ul class="cards">
            <span class="ajout_image"><i class="fa-solid fa-plus"></i></span>
            <% if (resultats) { %>

            <% resultats.forEach((resultat, i) => { %>
                <li class="card ">
                    <span hidden class="productName"><%= resultat.description %></span>
                    <span hidden class="category"><%= resultat.categorie %></span>
                    <span hidden class="nom"><%= resultat.nom %></span>
                
                    <span class="id_image" hidden id="<%= resultat.id %>"></span>
                    <img class="image_card " src="./../images/<%=resultat.imgSrc%>" alt="">

                </li>
            <% }) %>
            <% } %>
          
        </ul>

        <div class="image_infos">
        <span class="ajout_image moreImage"><i class="fa-solid fa-plus"></i></span>

            <img class="image_select " src="/<%=resultats[0].imgSrc%>" alt="">
            <h2 ><%=resultats[0].nom%></h2>
            <ul class="text">
                <li class="text_card">
                    <p>categorie  :  <span><%=resultats[0].categorie%> </span> </p>
                </li>

                <li class="text_card">
                    <p>taille   :  <span><%=resultats[0].taille %> </span> </p>
                </li>

                <li class="text_card">
                    <p>couleur    :  <span><%=resultats[0].couleur %> </span> </p>
                </li>

                <li class="text_card">
                    <p>saison :  <span><%=resultats[0].saison  %> </span> </p>
                </li>

                <li class="text_card" >
                    <p>date :  <span><%=new Date(resultats[0].date).toLocaleDateString()  %> </span> </p>
                </li>

                <li class="text_card">
                    <p>prix :  <span><%=resultats[0].prix  %> </span> </p>
                </li>

                <li class="text_card">
                    <p>Nom :  <span><%=resultats[0].nom  %> </span> </p>
                </li>

                <li class="text_card">
                    <p>description  :  <span><%=resultats[0].description   %> </span> </p>
                </li>
            </ul>
            <div class="options">
            <button class="btn deletBtn">Effacer</button>
            <button class="btn editBtn">Modifier</button>
            </div>
        </div>

       </div>

    <script src="/js/script_vetement.js"></script>
    <script src="/js/serch.js"></script>

    <style>
        /* cseleccted color bg */

.colorClass{
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
    </style>
</body>
</html>